###         assignment feb-02

In [ ]:
# 1)What are the characteristics of the tuples? Is tuple immutable
'''tuple is used to store multiple items in a single variable.A tuple is a collection of data which is ordered,
unchangable or immutable and allows duplicate values to store in it'''
# ans : tuple is an immutable datatype

In [4]:
# Example
t1 = (1,2,3,4,5,6,7, "sai", [4,5,6], "abc", "sai")
t1

(1, 2, 3, 4, 5, 6, 7, 'sai', [4, 5, 6], 'abc', 'sai')

In [2]:
t1[0]

1

In [3]:
t1[6]

7

In [5]:
t1[6] = 8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# so, by above operations we can conclude that a tuple is collection of items which is orderd, allows duplicates, immutable

In [ ]:
# 2) What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two 
# in-built methods as compared to Lists

In [ ]:
# ANSWER :
# there are only two tuple mrthods one is count() and another is index()

In [6]:
# example for count() method it will count the number of times a value repeating in a tuple
t1

(1, 2, 3, 4, 5, 6, 7, 'sai', [4, 5, 6], 'abc', 'sai')

In [8]:
t1.count("sai")

2

In [9]:
# example for index() method it will give the index of a value in the tuple
t1.index(3)

2

In [12]:
t1.index("sai")

7

In [ ]:
# tuples have only two in-built methods since the tuple is immutale and ordered. so there is less possibility for operations.

In [ ]:
''' Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove 
duplicates from the given list.


List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4] '''

In [13]:
# ANSWER
# set is a non-primitive datatype in python which do not allow duplicate values in it.example follows
L = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [15]:
L

[1,
 1,
 1,
 2,
 1,
 3,
 1,
 4,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 3,
 1,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 4,
 2,
 4,
 3,
 4,
 4]

In [16]:
set(L)

{1, 2, 3, 4}

In [18]:
# using typecasting we have converted list in to a set since do not allow duplicate values so, it removed the duplicate values
set(L)

{1, 2, 3, 4}

In [ ]:
'''Q4. Explain the difference between the union() and update() methods for a set. Give an example of 
each method.'''

In [24]:
# ANSWER
# union() function will unites the two sets without repeating the value.But it will not change the actual values in the sets
# this function is used for just operational purpose.
s1 = {1,2,3,4,5,6,7,8}
s2 = {1,2,3,4,11,12,13,14}

In [25]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
s2

{1, 2, 3, 4, 11, 12, 13, 14}

In [27]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14}

In [30]:
# the actual values of the set will not chane after using the union() function
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
s2

{1, 2, 3, 4, 11, 12, 13, 14}

In [32]:
#update() function will add the un-intersected elements to the set() from the another set().this will update the actual 
#values of set
s1.update(s2)

In [34]:
# some un-intersected values of s2 is added to s1
s1

{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14}

In [35]:
s2

{1, 2, 3, 4, 11, 12, 13, 14}

In [ ]:
#  Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [36]:
# ANSWER
'''dictionary in python is a collection of data with in theclosed curl brackets which consists of two things in each value
keys and values unlike other datatypes'''
# EXAMPLE
d1= {"s1":1, "s2":2, "s3":3, "s4":4}
d1
# as per python version 3.7  dictionary is ordered, changable but it will not allow new duplicate values

{'s1': 1, 's2': 2, 's3': 3, 's4': 4}

In [ ]:
#  Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [38]:
#ANSWER
# a dictionary within the dictionary is called nested dictionary which meanse in place of value
d2 = {"a1":{"a2":"criminals"}}
d2["a1"]["a2"]

'criminals'

In [ ]:
'''Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this list ['Python', 'Machine Learning’, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}  '''

In [44]:
# ANSWER
# by using a setdefault() method we can ad a key and value to the dictionary
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics", ["Python", "Machine Learning", "Deep Learning"])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [47]:
#if we used a setdefault() method with only un declared key then it will add the the key in the dictionary without any value 
dict1.setdefault("topic")
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning'],
 'topic': None}

In [ ]:
'''Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display 
these three view objects for the given dictionary.'''


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}'''

In [49]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [51]:
# ANSWER
# the main view objects of dictionary in python are keys, values, items here keys holds keys, values holds values, and items 
# holds both pairs of keys and values
dict1.keys()
for i in dict1.keys():
    print(i)

Sport
Teams

In [53]:
dict1.values()
for i in dict1.values():
    print(i)

Cricket
['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [54]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [55]:
for i in dict1.items():
    print(i)

('Sport', 'Cricket')
('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])